<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Edit Team: <%= @team.name %></h1>
			<div class="manage-resource-options">
				<%= link_to "Delete Team", team_url(@team.path), method: :delete, class: "manage-resource-option delete-option" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 content-area">
		<%= render 'form', form_action: team_url(@team.path), form_method: "patch", form_button: "Update Team"  %>
	</div>
</div>