<div class="row">
	<div class="page-header span12">
		<h1>BCAHL Teams</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<% @teams.each do |team| %>
			<p>
				<%= link_to team.name, team_url(team.path) %>
			</p>
		<% end %>
	</div>
</div>