<div class="row">
	<div class="page-header span12">
		<h1>Add New Team</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= render 'form', form_action: teams_url, form_method: "post", form_button: "Create Team" %>
	</div>
</div>