<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Add New Team</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 content-area">
    <%= render 'form', form_action: teams_url, form_method: "post", form_button: "Create Team" %>
  </div>
</div>