<div class="row">
	<div class="page-header span12">
		<h1><%= @team.name %></h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<% @team.rosters.each do |roster| %>
			<div class="team-roster-block">
				<% roster.players.each do |player| %>
					<p><%= player.full_name %></p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>