<div class="row">
	<div class="page-header span12">
		<h1>Add New Season</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= render 'form', form_action: seasons_url, form_method: "post", form_button: "Create Season" %>
	</div>
</div>