<div class="row">
	<div class="page-header span12">
		<h1>Edit League: <%= @league.name %></h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<%= render 'form', form_action: league_url(@league.path), form_method: "patch", form_button: "Update League"  %>
	</div>
	<div class="span6">
		<%= link_to "Delete League", league_url(@league.path), method: :delete %>
	</div>
</div>