<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Leagues</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<% @leagues.each do |league| %>
			<p>
				<%= link_to league.name, league_url(league.path) %>
			</p>
		<% end %>
	</div>
</div>