<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Add New League</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= render 'form', form_action: leagues_url, form_method: "post", form_button: "Create League" %>
	</div>
</div>