<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>About Us</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 content-area">
    <p>The Beaver County Adult Hockey League (BCAHL), based out of
  the Beaver County Ice Arena in Brady's Run Park, is open
  to adults (men and women) of all ages. Sessions typically run 6-8 weeks
  in length, and fees are determined based on the number of
  players participating.</p>
  </div>
</div>