<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 content-area">
		<p>Contact the league by email at beavercountyhockey@gmail.com. More details to come.</p>
	</div>
</div>