<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Contact Us</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 content-area">
    <p>
      Contact the league by email at <a href="mailto:hello@bcahl.net">hello@bcahl.net</a>
      or find us on <a href="https://www.facebook.com/groups/298975226868825/">Facebook</a>.
    </p>
  </div>
</div>