<div class="row">
	<div class="span10 offset1 home-greeting">
		<p class="home-greeting-content">
			Welcome to the official website of the Beaver County Adult Hockey League!
		</p>
		<span class="home-social-media">
			<a class="fontawesome-facebook-sign" href="https://www.facebook.com/groups/298975226868825/"></a>
			<a class="fontawesome-twitter-sign" href="https://twitter.com/BCAHL"></a>
		</span>
	</div>
</div>
<div class="row">
	<div class="span12 latest-photos">
		<% @photos.each do |photo| %>
			<%= image_tag photo.photo.url(:medium) %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span4 home-third">
		<h2 class="home-third-header">News</h2>
		<p class="home-third-content">
			The latest news from the BCAHL.
		</p>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Seasons</h2>
		<p class="home-third-content">
			Keep up with our current seasons.
		</p>
		<% @active_seasons.each do |season| %>
			<a class="home-third-season" href="<%= season_url(season.league.path, season.path) %>">
				<h3><%= season.league.name %> - <%= season.name %></h3>
			</a>
		<% end %>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Upcoming Games</h2>
		<p class="home-third-content">
			A glance at upcoming games in our league.
		</p>
	</div>
</div>
