<div class="row">
	<div class="span4 home-third">
		<h2 class="home-third-header">News</h2>
		<p class="home-third-content">
			This is the latest news from the league. Read all about it.
		</p>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Seasons</h2>
		<p class="home-third-content">
			Keep up with our current seasons.
		</p>
	</div>
	<div class="span4 home-third">
		<h2 class="home-third-header">Players</h2>
		<p class="home-third-content">
			We love our players. Hear their stories.
		</p>
	</div>
</div>
