<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Edit Game for <%= @game.season.name_with_league %></h1>
      <div class="manage-resource-options">
        <%= link_to "Back to #{@game.season.name_with_league}", edit_season_url(@game.season.league.path, @game.season.path), class: "manage-resource-option edit-option" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 content-area">
    <%= render 'form', form_action: game_url(@game.id), form_method: "patch", form_button: "Update Game", season: @game.season %>
  </div>
</div>