<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Add New Game to <%= @season.name_with_league %></h1>
      <div class="manage-resource-options">
        <%= link_to "Back to #{@season.name_with_league}", edit_season_url(@season.league.path, @season.path), class: "manage-resource-option edit-option" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 content-area">
    <%= render 'form', form_action: games_url, form_method: "post", form_button: "Add Game", season: @season %>
  </div>
</div>