<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Update Game Score for <%= @game.season.name_with_league %></h1>
      <div class="manage-resource-options">
        <% if current_user %>
          <%= link_to "Back to Season", edit_season_url(@game.season.league.path, @game.season.path), class: "manage-resource-option edit-option" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 content-area">
    <%= render 'score_form', form_action: update_score_url, form_method: "patch", form_button: "Update Score", season: @game.season %>
  </div>
  <div class="span6 content-area">
    <%= render 'stats_form', form_action: update_stats_url, form_method: "patch", form_button: "Update Stats", season: @game.season %>
  </div>
</div>