<div class="row">
	<div class="page-header span12">
		<h1>Update Game Score for <%= @game.season.name_with_league %></h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= render 'score_form', form_action: update_score_url, form_method: "patch", form_button: "Update Score", season: @game.season %>
	</div>
</div>