<div class="row">
	<div class="page-header span12">
		<h1>Edit Player: <%= @player.full_name %></h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<%= render 'form', form_action: player_url(@player.path), form_method: "patch", form_button: "Update Player"  %>
	</div>
	<div class="span6">
		<%= link_to "Delete Player", player_url(@player.path), method: :delete %>
	</div>
</div>