<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Edit Player: <%= @player.full_name %></h1>
			<div class="manage-resource-options">
				<%= link_to "Delete Player", player_url(@player.path), method: :delete, class: "manage-resource-option delete-option" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 content-area">
		<%= render 'form', form_action: player_url(@player.path), form_method: "patch", form_button: "Update Player"  %>
	</div>
</div>