<div class="row">
	<div class="page-header span12">
		<h1>Players</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<% @players.each do |player| %>
			<p><%= player.full_name %></p>
		<% end %>
	</div>
</div>