<div class="row">
	<div class="page-header span12">
		<h1>Add New Player</h1>
	</div>
</div>
<div class="row">
	<div class="span12">
		<%= render 'form', form_action: "Create Player" %>
	</div>
</div>