<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Add Photo Gallery</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 photos-container content-area">
		<%= render partial: "form", locals: {action: "Create"} %>
	</div>
</div>