// ****************************
// =| BCAHL Styles
// =| Authored by Travis L
// ****************************

$green: #55AE3A;
$lightGreen: #B4EEB4;
$honey: #FEE5AC;
$beige: #F5F5DC;

body {
	font-family: 'Open Sans', Arial, sans-serif;
}

.main-header {
	background: #222;
	height: 60px;
}

.main-logo {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	display: inline-block;
	letter-spacing: 1px;
	margin: 20px 0 0 0;
	float: left;
	clear: both;
	&:hover {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
}

.main-nav {
	float: right;
	margin: 20px 0 0 0;
}

.main-nav a {
	font-size: 12px;
	color: #fff;
	display: inline-block;
	margin: 0 0 0 20px;
}

.flash-message {
	border: 1px solid #777;
	padding: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 15px 0 0 0;
}

.flash-message-success {
	background: $green;
	color: #fff;
}

.flash-message-notice {
	background: $honey;
	color: #fff;
}

.flash-message-inner {
	padding: 5px 12px;
	border: 1px dotted #fff;
	font-size: 12px;
	margin: 0;
}

.flash-message-fade {
	display: inline-block;
	float: right;
	cursor: pointer;
	&:hover {
		color: #fafafa;
	}
}

.page-header h1 {
	font-size: 24px;
	float: left;
	clear: both;
}

// ****************************
// =| Administrator
// ****************************

.admin-header {
	height: 50px;
	background: #555;
}

.admin-nav-left {
	float: left;
	clear: both;
	margin: 10px 0 0 0;
}

.admin-nav-right {
	float: right;
	margin: 10px 0 0 0;
}

.admin-nav-right-helper {
	font-size: 12px;
	color: #111;
	display: inline-block;
	margin: 0 15px 0 0;
}

.admin-nav-right-helper a {
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}

.admin-nav-button {
	font-size: 11px;
	display: inline-block;
	padding: 3px 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	&:hover {
		text-decoration: none;
	}
}

.admin-nav-button-black {
	background: #222;
	color: #fff;
	&:hover {
		background: #111;
		color: #fff;
	}
}

.admin-nav-button-red {
	background: #ff3030;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.manage-view-option,
.manage-edit-option {
	float: right;
	display: inline-block;
	margin-top: 20px;
}

.manage-row-header h2 {
	font-size: 18px;
	font-weight: 400;
}

.manage-row-options {
	width: 100%;
	background: #eee;
	border-radius: 5px;
	padding: 15px;
	padding-bottom: 0;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.manage-row-option {
	width: 200px;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 10px;
	float: left;
	margin: 0 15px 15px 0;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.manage-row-option h3 {
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	color: #222;
	font-weight: 400;
}

.manage-row-edit {
	background: #fff;
	&:hover {
		text-decoration: none;
		background: $beige;
	}
}

.manage-row-new {
	background: $lightGreen;
	&:hover {
		text-decoration: none;
		background: $beige;
	}
}

// ****************************
// =| Team
// ****************************

.team-roster {
	width: 100%;
	border-left: 1px solid #777;
	border-top: 1px solid #777;
	thead {
		background: #eee;
	}
	th, td {
		padding: 5px 10px;
		border-right: 1px solid #777;
		border-bottom: 1px solid #777;
	}
}










