// ****************************
// =| BCAHL Styles
// =| Authored by Travis L
// ****************************

$green: #55AE3A;
$lightGreen: #B4EEB4;
$honey: #FEE5AC;
$beige: #F5F5DC;

// ****************************
// =| Mixins
// ****************************


@mixin graydient-bg {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

// ****************************
// =| General
// ****************************

body {
	font-family: 'Open Sans', Arial, sans-serif;
	border-top: 2px solid #fff;
}

.main-header {
	height: 60px;
	background: #222;
	border-bottom: 1px solid #000;
}

.main-logo {
	font-size: 14px;
	font-family: 'Georgia', sans-serif;
	color: #fff;
	display: inline-block;
	letter-spacing: 1px;
	margin: 20px 0 0 0;
	float: left;
	clear: both;
	&:hover {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
}

.main-nav {
	float: right;
	margin: 20px 0 0 0;
}

.main-nav a {
	font-size: 12px;
	color: #fff;
	display: inline-block;
	margin: 0 0 0 20px;
}

.flash-message {
	border: 1px solid #777;
	padding: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 15px 0 0 0;
}

.flash-message-success {
	background: $green;
	color: #fff;
}

.flash-message-notice {
	background: $honey;
	color: #fff;
}

.flash-message-inner {
	padding: 5px 12px;
	border: 1px dotted #fff;
	font-size: 12px;
	margin: 0;
}

.flash-message-fade {
	display: inline-block;
	float: right;
	cursor: pointer;
	&:hover {
		color: #fafafa;
	}
}

.page-header {
	margin-bottom: 10px;
}

.page-header h1 {
	font-size: 16px;
	width: 100%;
	float: left;
	clear: both;
}

.page-header-info {
	font-size: 12px;
}

.main-footer {
	margin: 50px 0 80px 0;
	border-top: 1px solid #eee;
	padding-top: 10px;
}

.form-field label, .form-field input {
	font-size: 12px;
}

.form-field input[type=text],
.form-field input[type=email] {
	border-radius: 0;
}

.form-field select {
	font-size: 12px;
}

.form-field input[type=submit] {
	padding: 5px 25px;
	margin-top: 10px;
	color: #333;
	border: 1px solid #bbb;
	font-family: 'Open Sans', Arial, sans-serif;
	border-radius: 2px;
	@include graydient-bg;
}

.button {
	padding: 7px 25px;
	margin-top: 10px;
	font-family: 'Open Sans', Arial, sans-serif;
	border-radius: 2px;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	&:hover {
		text-decoration: none;
	}
}

.button-red {
	color: #fff;
	border-color: #cf0404;
	background: #ff3019; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-8 */
	&:hover {
		color: #fff;
	}
}

// ****************************
// =| Home
// ****************************

.home-greeting {
	padding: 10px;
	font-size: 12px;
	border: 1px solid #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.home-greeting-content {
	margin: 0;
}

.home-third {
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.home-third-header {
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	margin: 0 0 10px 0;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 10px rgba(0,0,0,0.02);
	@include graydient-bg;
}

.home-third-content {
	font-size: 12px;
	padding: 0 10px;
}

.home-third-season {
	padding: 10px;
	display: block;
	border-top: 1px solid #eee;
	h3 {
		font-size: 12px;
		line-height: 12px;
		margin: 0;
	}
}

// ****************************
// =| Administrator
// ****************************

.admin-header {
	height: 50px;
	background: #555;
}

.admin-nav-left {
	float: left;
	clear: both;
	margin: 10px 0 0 0;
}

.admin-nav-right {
	float: right;
	margin: 10px 0 0 0;
}

.admin-nav-right-helper {
	font-size: 12px;
	color: #111;
	display: inline-block;
	margin: 0 15px 0 0;
}

.admin-nav-right-helper a {
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}

.admin-nav-button {
	font-size: 11px;
	display: inline-block;
	padding: 3px 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	&:hover {
		text-decoration: none;
	}
}

.admin-nav-button-black {
	background: #222;
	color: #fff;
	&:hover {
		background: #111;
		color: #fff;
	}
}

.admin-nav-button-red {
	background: #ff3030;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.manage-view-option,
.manage-edit-option {
	float: right;
	display: inline-block;
	margin-top: 20px;
}

.manage-row-header h2 {
	font-size: 14px;
}

.manage-row-options {
	width: 100%;
	border-radius: 2px;
	padding: 10px;
	border: 1px solid #ddd;
	padding-bottom: 0;
	float: left;
	background: #fefefe;
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.05);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.manage-row-option {
	width: 24.3%;
	border: 1px solid #eee;
	display: inline-block;
	float: left;
	margin: 0 0.9% 10px 0;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:nth-of-type(4n) {
		margin-right: 0;
	}
}

.manage-row-info {
	padding: 10px;
	font-size: 10px;
	line-height: 12px;
	margin: 0;
	border-top: 1px solid #eee;
	color: #444;
}

.manage-row-option h3 {
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	color: #222;
	font-weight: 400;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	@include graydient-bg;
}

.manage-row-edit {
	background: #fff;
	&:hover {
		text-decoration: none;
		box-shadow: 0 0 3px rgba(0,0,0,0.07);
		h3 {
			border-bottom: 1px solid #ccc;
		}
	}
}

.manage-resource-tools {
	@include graydient-bg;
	margin-top: -1px;
	float: left;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #ddd;
}

.manage-resource-tool {
	font-size: 10px;
	line-height: 24px;
	display: inline-block;
	padding: 0 15px;
	border-radius: 14px;
	border: 1px solid #ccc;
	@include graydient-bg;
	color: #444;
	&:hover {
		text-decoration: none;
		border: 1px solid #aaa;
		color: #111;
	}
}

// ****************************
// =| Team
// ****************************

.team-roster {
	width: 100%;
	border-left: 1px solid #777;
	border-top: 1px solid #777;
	thead {
		background: #eee;
	}
	th, td {
		padding: 5px 10px;
		border-right: 1px solid #777;
		border-bottom: 1px solid #777;
	}
}

// ****************************
// =| Season
// ****************************


.clickable-tab {
	width: 200px;
	float: left;
}


